<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Ether Panel</title>
    <%- include('bootstrap/style.ejs') %>
</head>

<body>
    <%- include('includes/sidebar.ejs') %>



        <%- include('bootstrap/script.ejs') %>
</body>

</html>